.aside {
  background: #efefef;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  height: 100%;
  width: 25%;
  z-index: 10;
}

.side-bar {
  display: flex;
  flex-direction: column;
  padding: 20px 0 0 0;
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
}

table,
td,
th {
  border: 1px solid black;
  border-collapse: collapse;
}

.compare-box {
  margin: 0 12px 0 12px;
  text-align: center;
}

.compare-item-seq {
  width: 20%;
}

.compare-item-one {
  width: 80%;
}

.compare-item-two {
  width: 40%;
}

.border-line {
  /* border-top: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black; */
  border: 1px solid black;
  padding: 0 12px 0 12px;
}

.similar-seq-box {
  padding: 0 12px 0 12px;
  text-align: center;
}

.aside-border-line {
  padding: 0;
  width: 4px;
  border: none;
  background-color: gray;
  cursor: col-resize;
}

.aside-border-line:hover {
  opacity: 0.8;
}

.lr-clusters {
  display: flex;
  justify-content: space-between;
}

.left-cluster {
  margin-left: 2rem;
}

.right-cluster {
  margin-right: 2rem;
}
