.file_btn {
  background: #5b9dff;
  border: none;
  border-radius: 15px;
  color: white;
  font-size: 1em;
  text-align: center;
  padding: 12px 0 12px 0;
  margin: 20px 0 0 0;
  cursor: pointer;
  width: 100%;
}

.file-name {
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.msg {
  text-align: center;
}

#file {
  display: none;
}
